/*
 * Custom CSS
 */
 
 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Ensures the text remains visible while loading */
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
}

:root {
  --bs-body-bg: var(--bs-gray-100);
}

body {
  padding: 24px;
}

h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.table {
  border-collapse: collapse;
}

.table td {
  border: none;
}

.table thead th {
  font-weight: 700;
  border-color: rgb(255, 0, 111);
  border-radius: 8px;
}

tbody tr td:first-child {
  color: rgb(255, 0, 111);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

tbody tr td:nth-child(2) {
  color: rgb(50, 50, 50)
}

.btn-secondary {
  background-color: rgb(255, 0, 111);
  border: none;
}
