/*
 * Custom CSS
 */

 @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Ensures the text remains visible while loading */
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
}

:root {
  --bs-body-bg: var(--bs-gray-100);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 24px;
}

h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3 {
  display: inline-flex;
  align-items: center;
}

h3 a {
  display: inherit;
  align-items: inherit;
  text-decoration: none;
  margin-left: 8px;
  color: rgb(20, 20, 20);
  opacity: 0.6;
  transition: opacity 0.3s;
}

h3 a:hover {
  text-decoration: underline;
  opacity: 1.0;
}

.fa {
  font-size: 0.5em;
  vertical-align: middle;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.table {
  border-collapse: collapse;
}

.table td {
  vertical-align: middle;
  padding: 12px;
  border: none;
}

.table thead th {
  font-weight: 700;
  border-color: rgb(255, 0, 111);
  border-radius: 8px;
}

tbody tr td:first-child {
  color: rgb(255, 0, 111);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

tbody tr td:nth-child(2) {
  color: rgb(50, 50, 50)
}

.btn-secondary {
  background-color: rgb(255, 0, 111);
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid rgb(255, 0, 111); /* Pink outline */
  color: rgb(255, 0, 111); /* Pink text */
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px; /* Slightly rounded corners */
  display: inline-block; /* Ensure it behaves like an inline element */
  text-align: center;
}

.btn-secondary:hover {
  background-color: rgb(255, 0, 111);
  color: white;
}